.header {
	background-color: #fff;
	box-shadow: 2px 2px 12px grey;
	padding: 1rem;
}
.align {
	display: flex;
	justify-content: space-between;
}
.logo-width {
	width: 80%;
}
.align-header {
	background-color: #fff;
}

.actionLinks{
	gap:10px
}

.actionLinks > *{
	white-space: nowrap;
}
